/*
Orange color: #4cd93a

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #1f0d00;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #1b81d2;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}


/* ----- ICONS ----- */
.icon-big {
  font-size: 350%;
  display: block;
  color: #4cd93a;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #1b81d2;
  font-size: 120%;
  margin-right: 10px;

  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
  color: #003f71;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #003f71;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #1b81d2;
  border: 1px solid #1b81d2;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #003f71;
  color:  #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color:  #003f71;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid  #003f71;

}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid  #003f71;
  color: #fff;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {

  background-image:  url(resources/Img/background.jpg);
  background-image: url(resources/Img/background.jpg);

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  height: 100vh;
}
header h1 {
  position: absolute;
  overflow: hidden;
  top: -100%;
  left: -100%;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/*                  */

.places ul {
  list-style-type: none;
  color: white;

}

.places ul li {
  padding: 2px;
  margin-bottom: 4px;
}

.places h3 {
  margin-top: 18px;
  font-weight: 400;
}





/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 25px;
  margin-right: 46px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  font-weight: 400;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #1b81d2;
}

/* .main-nav img {
display: inline-block;
float: left;
height: 50px;
width: 200px;
position: absolute;
top: 0;
left: 0;

} */


/* Mobile navi */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}


/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */

.section-features .long-copy {
  margin-bottom: 30px;
}


/* ----------------------------------------------- */
/* PHOTOS
/* ----------------------------------------------- */

.section-football {
  padding: 0;
  vertical-align: bottom;

}

.football-showcase {
  list-style: none;
  width: 100%;


}

.football-showcase li {
  display: block;
  float: left;
  width: 25%;


}

.football-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;



}

.football-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
vertical-align: bottom;





}






.football-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);


}





/* ----------------------------------------------- */
/* HOW IT WORKS SECTION NOT ACTIVE
/* ----------------------------------------------- */

.section-steps {
  background-color: #f4f4f4;
}

.steps-box {
  margin-top: 30px;
}


.steps-box:first-child {
  text-align: left;
  padding-right: 3%;
}

.steps-box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #4cd93a;
  font-size: 150%;
  height: 54px;
  width: 54px;
  border: 2px solid #4cd93a;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  float: left;
  padding: 5px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}






/* ----------------------------------------------- */
/* TESTIMONIALS NOT ACTIVE*/
/* ----------------------------------------------- */

.section-testimonials {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(img/logoback.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(img/logoback.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  color: #fff;
  /*    background-attachment: fixed;*/
}




/* ----------------------------------------------- */
/* SIGN UP */
/* ----------------------------------------------- */

.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 5px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}


.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  /*    color: #1b81; space for tag*/
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/*
Events/Activites

*/

.prices-details ul {
  list-style-type: none;
  color: #000;
  margin-top: 20px;

}

.prices-details ul li {
  padding: 6px;
  margin-bottom: 4px;
}

.prices-details h3 {
  margin-top: 18px;
  font-weight: 400;
}

.addons p{

margin-top: 15px;
padding: 5px;
color: red;

}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #9c9c9c;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {outline: none;}



#plans {

  background-color: #f4f4f4;
}

video {
  vertical-align: bottom;
}




/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;

}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}


footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

div.day-number	 {
  background:#999;
  position:absolute;
  z-index:2;
  top:-5px;
  right:-25px;
  padding:5px;
  color:#fff;
  font-weight:bold;
  width:20px;
  text-align:center;
}
td.calendar-day, td.calendar-day-np {
  width:120px;
  padding:5px 25px 5px 5px;
  border-bottom:1px solid #999;
  border-right:1px solid #999;
}



/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3
{
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
